PORT=3000
CLIENT_ORIGIN=http://localhost:4200

# TiDB Cloud (MySQL protocol)
DB_HOST=gateway.tidbcloud.com
DB_PORT=4000
DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=evieland

# TLS recomendado para TiDB Cloud
DB_SSL={ "rejectUnauthorized": true }

JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES=7d
